.editormd-preview-theme-dark .editormd-preview-container {
    color: inherit;
    background-color: inherit
}

.editormd-preview-theme-dark .editormd-preview-container blockquote {
    background: inherit;
    border-color: inherit
}

.markdown-body img {
    margin: 10px 0
}

.markdown-body strong {
    font-weight: bold
}

.editormd-dialog-container select {
    display: inline-block
}

.editormd-preview-theme-dark .typ {
    color: #a8b6c5
}

.editormd-preview-theme-dark pre .pln {
    color: #a8b6c5
}

.editormd-preview-theme-dark .kwd {
    color: #cb7832
}

.editormd-preview-theme-dark .tag {
    color: #89bdff
}

.editormd-preview-theme-dark .com {
    color: #7f7f7f
}

.editormd-preview-theme-dark .str {
    color: #65b042
}

.editormd-preview-theme-dark .atv {
    color: #65b042
}

.editormd-preview-theme-dark .atn {
    color: #bdb76b
}

.editormd-preview-theme-dark .lit {
    color: #65b042
}

.editormd-preview-theme-dark .pun {
    color: #bdb76b
}

.CodeMirror-activeline-background {
    background: #f0fbeb
}

.markdown-body li {
    list-style: inherit
}

.editormd-html-preview ol.linenums,
.editormd-preview-container ol.linenums {
    color: #6c7978;
    padding-left: 2.5em
}

.markdown-body pre li {
    border-left: 1px solid #6c7978;
    padding-left: 10px
}

.markdown-body a {
    background: 0;
    color: #009688;
    text-decoration: none
}

.markdown-body a:hover {
    color: #01aaed;
    text-decoration: none
}

.editormd-preview-theme-dark {
    color: #333;
    background: #fff
}

.editormd-preview-theme-dark pre {
    background: #282c34
}

.editormd-html-preview,
.editormd-preview-container {
    padding: 5px;
    font-size: 15px;
    color: #000
}